@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



section{
    border: 1px solid black;

}

header{
    background-color: blueviolet;
    width: 400px;
    padding: 0.6rem 0px;
    text-align: center;
    color: white;
}


.add-list{
    padding: 10px 0px 0px;
    text-align: center;

    
}
.add-list input{
    width: 70%;
    background: none;
    border: 2px solid #acabab   ;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    margin-right: 10px;
    /* margin-top: 12px; */
}

input[type=text]:focus{
   border: 2px solid blueviolet;
}

.add-list button{
    color: white;
    padding: 5px 15px;
    background: none;
    border: none;
    background: blueviolet;
    border-radius: 2px;
    cursor: pointer;
}

.lists{
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: red;
}

.row-list{
    border-bottom: 1px solid rgb(17, 17, 17);
    display: flex;
    padding: 15px 10px 3px ;
    justify-content: space-between;  
    align-items: center;  
}
.list-value{
    /* border: 1px solid red; */
    max-width: 300px;
    display: flex;
    gap: 10px;
}

.list-value h4{
    transition: ease-in-out 0.3s;
}

.checked-todo{
    text-decoration: line-through;
    font-weight:100;
    color: #acabab;
}

.list-value input{
    width: 20px;
    cursor: pointer;
    
}


.trash-button {
    display: flex;
    cursor: pointer;
    color: whitesmoke;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: blueviolet;
    transition: ease-in-out 0.3s;
}
.trash-button:hover {
    background-color: rgb(114, 29, 195);
    color: white;
}


@media screen and (max-width: 500px) {
    header{
        width: 350px;
    }
}





